/* h1{
    background-color: olivedrab;
}
.heading-class{
    color: black;

}
h2{
    color: rgb(3, 3, 109);
}
body{
    background-color:coral;
}
button{
    background-color: rgba(0, 0, 255, 0.578);
    color: darkgray;
} */

/* Practice question */
/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aqua;
} */

/* #box{
    height: 150px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */

/*  PROBLEM QUESTIONS */
/* .woop{
    color: chocolate;
}
.newClass{
    background-color: blue;
} */
/* <!-- TILL DOM PT-2 --> */


/* *******************EVENTS*********************** */
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: darkgoldenrod;
    border: 1px solid black;
}